\#[[:space:]]This[[:space:]].gitignore[[:space:]]file[[:space:]]should[[:space:]]be[[:space:]]placed[[:space:]]at[[:space:]]the[[:space:]]root[[:space:]]of[[:space:]]your[[:space:]]Unity[[:space:]]project[[:space:]]directory filter=lfs diff=lfs merge=lfs -text
\# filter=lfs diff=lfs merge=lfs -text
\#[[:space:]]Get[[:space:]]latest[[:space:]]from[[:space:]]https://github.com/github/gitignore/blob/main/Unity.gitignore filter=lfs diff=lfs merge=lfs -text
/[Ll]ibrary/ filter=lfs diff=lfs merge=lfs -text
/[Tt]emp/ filter=lfs diff=lfs merge=lfs -text
/[Oo]bj/ filter=lfs diff=lfs merge=lfs -text
/[Bb]uild/ filter=lfs diff=lfs merge=lfs -text
/[Bb]uilds/ filter=lfs diff=lfs merge=lfs -text
/[Ll]ogs/ filter=lfs diff=lfs merge=lfs -text
/[Uu]ser[Ss]ettings/ filter=lfs diff=lfs merge=lfs -text
 filter=lfs diff=lfs merge=lfs -text
\#[[:space:]]MemoryCaptures[[:space:]]can[[:space:]]get[[:space:]]excessive[[:space:]]in[[:space:]]size. filter=lfs diff=lfs merge=lfs -text
\#[[:space:]]They[[:space:]]also[[:space:]]could[[:space:]]contain[[:space:]]extremely[[:space:]]sensitive[[:space:]]data filter=lfs diff=lfs merge=lfs -text
/[Mm]emoryCaptures/ filter=lfs diff=lfs merge=lfs -text
 filter=lfs diff=lfs merge=lfs -text
\#[[:space:]]Recordings[[:space:]]can[[:space:]]get[[:space:]]excessive[[:space:]]in[[:space:]]size filter=lfs diff=lfs merge=lfs -text
/[Rr]ecordings/ filter=lfs diff=lfs merge=lfs -text
 filter=lfs diff=lfs merge=lfs -text
\#[[:space:]]Uncomment[[:space:]]this[[:space:]]line[[:space:]]if[[:space:]]you[[:space:]]wish[[:space:]]to[[:space:]]ignore[[:space:]]the[[:space:]]asset[[:space:]]store[[:space:]]tools[[:space:]]plugin filter=lfs diff=lfs merge=lfs -text
\#[[:space:]]/[Aa]ssets/AssetStoreTools* filter=lfs diff=lfs merge=lfs -text
 filter=lfs diff=lfs merge=lfs -text
\#[[:space:]]Autogenerated[[:space:]]Jetbrains[[:space:]]Rider[[:space:]]plugin filter=lfs diff=lfs merge=lfs -text
/[Aa]ssets/Plugins/Editor/JetBrains* filter=lfs diff=lfs merge=lfs -text
 filter=lfs diff=lfs merge=lfs -text
\#[[:space:]]Visual[[:space:]]Studio[[:space:]]cache[[:space:]]directory filter=lfs diff=lfs merge=lfs -text
.vs/ filter=lfs diff=lfs merge=lfs -text
 filter=lfs diff=lfs merge=lfs -text
\#[[:space:]]Gradle[[:space:]]cache[[:space:]]directory filter=lfs diff=lfs merge=lfs -text
.gradle/ filter=lfs diff=lfs merge=lfs -text
 filter=lfs diff=lfs merge=lfs -text
\#[[:space:]]Autogenerated[[:space:]]VS/MD/Consulo[[:space:]]solution[[:space:]]and[[:space:]]project[[:space:]]files filter=lfs diff=lfs merge=lfs -text
ExportedObj/ filter=lfs diff=lfs merge=lfs -text
.consulo/ filter=lfs diff=lfs merge=lfs -text
*.csproj filter=lfs diff=lfs merge=lfs -text
*.unityproj filter=lfs diff=lfs merge=lfs -text
*.sln filter=lfs diff=lfs merge=lfs -text
*.suo filter=lfs diff=lfs merge=lfs -text
*.tmp filter=lfs diff=lfs merge=lfs -text
*.user filter=lfs diff=lfs merge=lfs -text
*.userprefs filter=lfs diff=lfs merge=lfs -text
*.pidb filter=lfs diff=lfs merge=lfs -text
*.booproj filter=lfs diff=lfs merge=lfs -text
*.svd filter=lfs diff=lfs merge=lfs -text
*.pdb filter=lfs diff=lfs merge=lfs -text
*.mdb filter=lfs diff=lfs merge=lfs -text
*.opendb filter=lfs diff=lfs merge=lfs -text
*.VC.db filter=lfs diff=lfs merge=lfs -text
 filter=lfs diff=lfs merge=lfs -text
\#[[:space:]]Unity3D[[:space:]]generated[[:space:]]meta[[:space:]]files filter=lfs diff=lfs merge=lfs -text
*.pidb.meta filter=lfs diff=lfs merge=lfs -text
*.pdb.meta filter=lfs diff=lfs merge=lfs -text
*.mdb.meta filter=lfs diff=lfs merge=lfs -text
 filter=lfs diff=lfs merge=lfs -text
\#[[:space:]]Unity3D[[:space:]]generated[[:space:]]file[[:space:]]on[[:space:]]crash[[:space:]]reports filter=lfs diff=lfs merge=lfs -text
sysinfo.txt filter=lfs diff=lfs merge=lfs -text
 filter=lfs diff=lfs merge=lfs -text
\#[[:space:]]Builds filter=lfs diff=lfs merge=lfs -text
*.apk filter=lfs diff=lfs merge=lfs -text
*.aab filter=lfs diff=lfs merge=lfs -text
*.unitypackage filter=lfs diff=lfs merge=lfs -text
*.app filter=lfs diff=lfs merge=lfs -text
 filter=lfs diff=lfs merge=lfs -text
\#[[:space:]]Crashlytics[[:space:]]generated[[:space:]]file filter=lfs diff=lfs merge=lfs -text
crashlytics-build.properties filter=lfs diff=lfs merge=lfs -text
 filter=lfs diff=lfs merge=lfs -text
\#[[:space:]]Packed[[:space:]]Addressables filter=lfs diff=lfs merge=lfs -text
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin* filter=lfs diff=lfs merge=lfs -text
 filter=lfs diff=lfs merge=lfs -text
\#[[:space:]]Temporary[[:space:]]auto-generated[[:space:]]Android[[:space:]]Assets filter=lfs diff=lfs merge=lfs -text
/[Aa]ssets/[Ss]treamingAssets/aa.meta filter=lfs diff=lfs merge=lfs -text
/[Aa]ssets/[Ss]treamingAssets/aa/* filter=lfs diff=lfs merge=lfs -text
